---
- name: Setup Monitoring Stack
  hosts: monitoring_servers
  become: yes
  vars:
    prometheus_targets:
      - "192.168.1.10:9090"
      - "192.168.1.11:9090"
    grafana_dashboard_file: "custom_dashboard.json"  # local file inside files/
    monitoring_dir: "/srv/monitoring"

  tasks:
    - name: Ensure Podman is installed
      package:
        name: podman
        state: present

    - name: Ensure podman-compose is installed
      pip:
        name: podman-compose
        state: present

    - name: Create monitoring directory
      file:
        path: "{{ monitoring_dir }}"
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Copy monitoring files to remote server
      copy:
        src: "{{ item }}"
        dest: "{{ monitoring_dir }}/"
        owner: root
        group: root
        mode: '0644'
      loop:
        - "docker-compose.yml"
        - "prometheus.yml"
        - "{{ grafana_dashboard_file }}"

    - name: Customize Prometheus config with target IPs
      lineinfile:
        path: "{{ monitoring_dir }}/prometheus.yml"
        regexp: 'targets:.*'
        line: "  - targets: {{ prometheus_targets | join(',') }}"
      notify: Restart Monitoring Stack

    - name: Customize Grafana dashboard JSON
      template:
        src: "{{ grafana_dashboard_file }}"
        dest: "{{ monitoring_dir }}/grafana_dashboard.json"
      notify: Restart Monitoring Stack

    - name: Start monitoring stack
      command: podman-compose up -d
      args:
        chdir: "{{ monitoring_dir }}"

  handlers:
    - name: Restart Monitoring Stack
      command: podman-compose down && podman-compose up -d
      args:
        chdir: "{{ monitoring_dir }}"
