---
- name: Set the hostname
  command: hostnamectl set-hostname {{ hostvars[inventory_hostname]['vars']['hostname'] }}

- name: Disable firewalld
  systemd:
    name: firewalld
    enabled: false
    state: stopped
    masked: true

- name: Disable SELinux temporarily
  command: setenforce 0
  when: ansible_selinux.status == "enabled"

- name: Permissive SELinux permanently
  lineinfile:
    path: /etc/sysconfig/selinux
    regexp: '^SELINUX='
    line: 'SELINUX=permissive'

- name: copy hosts
  template:
    src: templates/hosts.j2
    dest: /etc/hosts

- name: Ensure Podman is installed
  package:
    name: podman
    state: present

- name: Install python3-pip
  dnf:
    name: python3-pip
    state: present

- name: Install podman-compose for the current user
  shell: |
    pip3 install --user podman-compose

- name: Create monitoring directory
  file:
    path: "{{ monitoring_dir }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Copy monitoring directory tree
  copy:
    src: "files/monitoring"
    dest: "/srv/"
    owner: root
    group: root

- name: Start monitoring stack
  command: podman-compose up -d
  args:
    chdir: "/srv/monitoring"

- name: Apply ingress manifest
  shell: |
      echo "{{ lb_ip }}  ksm.arvan.ir" >> /etc/hosts