127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for server in groups['masters'] %}
{{ hostvars[server]['vars']['address'] }} {{ hostvars[server]['vars']['hostname'] }}.{{ clustername }}.cluster.local {{ hostvars[server]['vars']['hostname'] }}
{% endfor %}
{% for server in groups['workers'] %}
{{ hostvars[server]['vars']['address'] }} {{ hostvars[server]['vars']['hostname'] }}.{{ clustername }}.cluster.local {{ hostvars[server]['vars']['hostname'] }}
{% endfor %}